Repository TEJ-Fellowship/pbl, pull requests merged in 2025-06, with the labels that each got.

#42 Add Sliding Animation to NewsContent Component
  weather-app/src/App.jsx
  weather-app/src/components/NewsContent.jsx
  weather-app/src/components/RecentSearches.jsx
  weather-app/src/utils/localStorage.js
Labels: enhancement, weather-app-ss

#66 Feat/implement backend auth 01
  tech-master-LA/backend/app.js
  tech-master-LA/backend/config/db.js
  tech-master-LA/backend/config/keys.js
  tech-master-LA/backend/controllers/authController.js
  tech-master-LA/backend/controllers/userController.js
  tech-master-LA/backend/helpers/dataFormatter.js
  tech-master-LA/backend/middlewares/auth-middleware.js
  tech-master-LA/backend/middlewares/logger.js
  tech-master-LA/backend/models/User.js
  tech-master-LA/backend/package.json
  tech-master-LA/backend/routes/authRoute.js
  tech-master-LA/backend/routes/userRoute.js
  tech-master-LA/backend/server.js
  tech-master-LA/backend/services/authService.js
  tech-master-LA/backend/services/geminiService.js
  tech-master-LA/backend/services/userService.js
  tech-master-LA/backend/utils/jwt.js
  tech-master-LA/backend/utils/regex/productRegex.js
  tech-master-LA/backend/utils/regex/userRegex.js
  tech-master-LA/frontend/src/api/auth.js
Labels: feature

#80 Feature/backend structure
  neighborly-aid/backend/app.js
  neighborly-aid/backend/config/db.js
  neighborly-aid/backend/config/keys.js
  neighborly-aid/backend/controllers/authController.js
  neighborly-aid/backend/controllers/eventController.js
  neighborly-aid/backend/controllers/reviewController.js
  neighborly-aid/backend/controllers/taskController.js
  neighborly-aid/backend/controllers/userController.js
  neighborly-aid/backend/helpers/dataFormatter.js
  neighborly-aid/backend/middlewares/auth-middleware.js
  neighborly-aid/backend/middlewares/logger.js
  neighborly-aid/backend/models/Events.js
  neighborly-aid/backend/models/Review.js
  neighborly-aid/backend/models/Task.js
  neighborly-aid/backend/models/User.js
  neighborly-aid/backend/package.json
  neighborly-aid/backend/routes/authRoute.js
  neighborly-aid/backend/routes/eventRoutes.js
  neighborly-aid/backend/routes/reviewRoutes.js
  neighborly-aid/backend/routes/taskRoutes.js
  neighborly-aid/backend/routes/userRoute.js
  neighborly-aid/backend/services/authService.js
  neighborly-aid/backend/services/eventService.js
  neighborly-aid/backend/services/geminiService.js
  neighborly-aid/backend/services/reviewService.js
  neighborly-aid/backend/services/taskService.js
  neighborly-aid/backend/services/userService.js
  neighborly-aid/backend/utils/constants/eventStatus.js
  neighborly-aid/backend/utils/constants/index.js
  neighborly-aid/backend/utils/constants/taskStatus.js
  neighborly-aid/backend/utils/constants/taskUrgency.js
  neighborly-aid/backend/utils/constants/userRole.js
  neighborly-aid/backend/utils/jwt.js
  neighborly-aid/backend/utils/logger.js
  neighborly-aid/backend/utils/middleware.js
  neighborly-aid/backend/utils/regex/productRegex.js
  neighborly-aid/backend/utils/regex/userRegex.js
Labels: feature, neighborly-aid-ss

#84 Feature/task browser
  neighborly-aid/backend/controllers/taskController.js
  neighborly-aid/backend/models/Task.js
  neighborly-aid/backend/routes/taskRoutes.js
  neighborly-aid/backend/services/geminiService.js
  neighborly-aid/backend/utils/constants/taskStatus.js
  neighborly-aid/frontend/src/api/geminiAPI.js
  neighborly-aid/frontend/src/api/index.js
  neighborly-aid/frontend/src/components/Navbar.jsx
  neighborly-aid/frontend/src/components/PostForm.jsx
  neighborly-aid/frontend/src/components/common/GeminiIcon.jsx
  neighborly-aid/frontend/src/components/common/ThemeToggle.jsx
  neighborly-aid/frontend/src/components/common/index.js
  neighborly-aid/frontend/src/components/features/index.js
  neighborly-aid/frontend/src/components/features/tasks/CategoryFilter.jsx
  neighborly-aid/frontend/src/components/features/tasks/GeminiSuggestions.jsx
  neighborly-aid/frontend/src/components/features/tasks/TaskCard.jsx
  neighborly-aid/frontend/src/components/features/tasks/index.js
  neighborly-aid/frontend/src/components/forms/TaskForm/SubmitButton.jsx
  neighborly-aid/frontend/src/components/forms/TaskForm/TaskForm.jsx
  neighborly-aid/frontend/src/components/forms/TaskForm/TaskFormFields.jsx
  neighborly-aid/frontend/src/components/forms/TaskForm/index.js
  neighborly-aid/frontend/src/components/forms/index.js
  neighborly-aid/frontend/src/components/index.js
  neighborly-aid/frontend/src/components/myNeighbourhood/CategoryFilter.jsx
  neighborly-aid/frontend/src/components/myNeighbourhood/MainContent.jsx
  neighborly-aid/frontend/src/components/myNeighbourhood/NavigationTab.jsx
  neighborly-aid/frontend/src/components/myNeighbourhood/PostForm.jsx
  neighborly-aid/frontend/src/components/myNeighbourhood/index.js
  neighborly-aid/frontend/src/components/ui/StatusMessage.jsx
  neighborly-aid/frontend/src/components/ui/index.js
  neighborly-aid/frontend/src/constants/index.js
  neighborly-aid/frontend/src/hooks/index.js
  neighborly-aid/frontend/src/hooks/useGeminiSuggestions.js
  neighborly-aid/frontend/src/hooks/useTaskForm.js
  neighborly-aid/frontend/src/pages/MyNeighbourhood.jsx
  neighborly-aid/frontend/src/services/index.js
  neighborly-aid/frontend/src/services/taskService.js
  neighborly-aid/frontend/tailwind.config.cjs
  package.json
Labels: enhancement, neighborly-aid-ss

#87 feature/creating and broswing task
  neighborly-aid/backend/app.js
  neighborly-aid/backend/controllers/taskController.js
  neighborly-aid/backend/models/Task.js
  neighborly-aid/backend/routes/taskRoutes.js
  neighborly-aid/backend/services/taskService.js
  neighborly-aid/frontend/src/api/geminiAPI.js
  neighborly-aid/frontend/src/api/index.js
  neighborly-aid/frontend/src/api/tasks.js
  neighborly-aid/frontend/src/components/Navbar.jsx
  neighborly-aid/frontend/src/components/forms/TaskForm/TaskForm.jsx
  neighborly-aid/frontend/src/components/myNeighbourhood/AskForHelpContent.jsx
  neighborly-aid/frontend/src/components/myNeighbourhood/Header.jsx
  neighborly-aid/frontend/src/components/myNeighbourhood/HelpOthersContent.jsx
  neighborly-aid/frontend/src/components/myNeighbourhood/MainContent.jsx
  neighborly-aid/frontend/src/components/myNeighbourhood/NavigationTab.jsx
  neighborly-aid/frontend/src/pages/MyNeighbourhood.jsx
  neighborly-aid/frontend/src/pages/WhyNeigbourlyAId.jsx
  neighborly-aid/frontend/src/services/taskService.js
Labels: enhancement, neighborly-aid-ss

#89 Like/Dislike functionality
  neighborly-aid/backend/controllers/taskController.js
  neighborly-aid/backend/models/Task.js
  neighborly-aid/backend/models/User.js
  neighborly-aid/backend/routes/taskRoutes.js
  neighborly-aid/backend/services/taskService.js
  neighborly-aid/backend/utils/constants/taskStatus.js
  neighborly-aid/frontend/src/App.jsx
  neighborly-aid/frontend/src/api/tasks.js
  neighborly-aid/frontend/src/components/features/tasks/TaskCard.jsx
  neighborly-aid/frontend/src/components/index.js
  neighborly-aid/frontend/src/components/myNeighbourhood/AskForHelpContent.jsx
  neighborly-aid/frontend/src/components/myNeighbourhood/HelpOthersContent.jsx
  neighborly-aid/frontend/src/components/myNeighbourhood/MainContent.jsx
  neighborly-aid/frontend/src/components/myNeighbourhood/NavigationTab.jsx
  neighborly-aid/frontend/src/components/myNeighbourhood/index.js
  neighborly-aid/frontend/src/pages/MyNeighbourhood.jsx
  neighborly-aid/frontend/src/services/taskService.js
Labels: enhancement, neighborly-aid-ss
