Repository TEJ-Fellowship/pbl, pull requests merged in 2025-09, with the labels that each got.

#401 frontend fixed
  PBL2/ShramSathi/frontend/src/components/DashboardLayout.jsx
  PBL2/ShramSathi/frontend/src/components/Hero.jsx
Labels: shramsathi-bb

#402 feat: add all the incomplete features
  PBL2/ShramSathi/backend/mongo.js
  PBL2/ShramSathi/backend/package.json
  PBL2/ShramSathi/backend/server.js
  PBL2/ShramSathi/backend/uploads/1756567440434-378959626.jpg
  PBL2/ShramSathi/frontend/package.json
  PBL2/ShramSathi/frontend/src/components/Dashboard.jsx
  PBL2/ShramSathi/frontend/src/components/DashboardLayout.jsx
  PBL2/ShramSathi/frontend/src/components/Programs.jsx
  PBL2/ShramSathi/frontend/src/components/Taskform.jsx
  PBL2/ShramSathi/frontend/src/components/Tasks.jsx
  PBL2/ShramSathi/frontend/src/components/ui/button.jsx
  PBL2/ShramSathi/frontend/src/components/ui/card.jsx
  PBL2/ShramSathi/frontend/src/components/ui/modal.jsx
  PBL2/ShramSathi/package.json
Labels: shramsathi-bb

#405 282 main gyaan sathi
  .vscode/settings.json
  IndividualPBL/Gyaan_Tapari/dist/assets/GyanTapari-Bx7BzyeV.png
  IndividualPBL/Gyaan_Tapari/dist/assets/index-BPhOA_nK.css
  IndividualPBL/Gyaan_Tapari/dist/assets/index-C5VsGOcM.js
  IndividualPBL/Gyaan_Tapari/dist/index.html
  PBL2/GyanSathi/backend/.gitignore
  PBL2/GyanSathi/backend/README.md
  PBL2/GyanSathi/backend/config/db.js
  PBL2/GyanSathi/backend/controllers/authController.js
  PBL2/GyanSathi/backend/controllers/courseController.js
  PBL2/GyanSathi/backend/middleware/errorHandler.js
  PBL2/GyanSathi/backend/middlewares/authMiddleware.js
  PBL2/GyanSathi/backend/middlewares/roleMiddleware.js
  PBL2/GyanSathi/backend/models/Course.js
  PBL2/GyanSathi/backend/models/User.js
  PBL2/GyanSathi/backend/package.json
  PBL2/GyanSathi/backend/routes/authRoutes.js
  PBL2/GyanSathi/backend/routes/courseRoutes.js
  PBL2/GyanSathi/backend/server.js
  PBL2/GyanSathi/docs/README.md
  PBL2/GyanSathi/frontend/.gitignore
  PBL2/GyanSathi/frontend/README.md
  PBL2/GyanSathi/frontend/eslint.config.js
  PBL2/GyanSathi/frontend/index.html
  PBL2/GyanSathi/frontend/package.json
  PBL2/GyanSathi/frontend/postcss.config.js
  PBL2/GyanSathi/frontend/public/vite.svg
  PBL2/GyanSathi/frontend/src/App.css
  PBL2/GyanSathi/frontend/src/App.jsx
  PBL2/GyanSathi/frontend/src/api/api.js
  PBL2/GyanSathi/frontend/src/assets/react.svg
  PBL2/GyanSathi/frontend/src/compoments/CourseCard.jsx
  PBL2/GyanSathi/frontend/src/compoments/CourseForm.jsx
  PBL2/GyanSathi/frontend/src/compoments/LessonForm.jsx
  PBL2/GyanSathi/frontend/src/components/AIguide.jsx
  PBL2/GyanSathi/frontend/src/components/CourseCard.jsx
  PBL2/GyanSathi/frontend/src/components/CourseForm.jsx
  PBL2/GyanSathi/frontend/src/components/CourseManagement.jsx
  PBL2/GyanSathi/frontend/src/components/LessonForm.jsx
  PBL2/GyanSathi/frontend/src/components/Navbar.jsx
  PBL2/GyanSathi/frontend/src/components/PromptInput.jsx
  PBL2/GyanSathi/frontend/src/components/ProtectedRoute.jsx
  PBL2/GyanSathi/frontend/src/components/ThemeToggle.jsx
  PBL2/GyanSathi/frontend/src/context/AuthContext.jsx
  PBL2/GyanSathi/frontend/src/index.css
  PBL2/GyanSathi/frontend/src/main.jsx
  PBL2/GyanSathi/frontend/src/pages/CourseDetail.jsx
  PBL2/GyanSathi/frontend/src/pages/CourseManagement.jsx
  PBL2/GyanSathi/frontend/src/pages/Homepage.jsx
  PBL2/GyanSathi/frontend/src/pages/LessonDetail.jsx
  PBL2/GyanSathi/frontend/src/pages/Login.jsx
  PBL2/GyanSathi/frontend/src/pages/Register.jsx
  PBL2/GyanSathi/frontend/tailwind.config.js
  PBL2/GyanSathi/frontend/vite.config.js
Labels: GyaanSathi, GyaanSathi-Feature

#413 chore: Project huddle is initialized
  PBL3/huddle/.gitignore
  PBL3/huddle/README.md
  PBL3/huddle/eslint.config.js
  PBL3/huddle/index.html
  PBL3/huddle/package.json
  PBL3/huddle/public/vite.svg
  PBL3/huddle/requirements.md
  PBL3/huddle/src/App.css
  PBL3/huddle/src/App.jsx
  PBL3/huddle/src/index.css
  PBL3/huddle/src/main.jsx
  PBL3/huddle/vite.config.js
Labels: feature, GM-Huddle

#417 init: folders/files created
  PBL3/huddle/backend/index.js
  PBL3/huddle/backend/package.json
  PBL3/huddle/docs/README.md
  PBL3/huddle/frontend/.gitignore
  PBL3/huddle/frontend/README.md
  PBL3/huddle/frontend/eslint.config.js
  PBL3/huddle/frontend/index.html
  PBL3/huddle/frontend/package.json
  PBL3/huddle/frontend/postcss.config.js
  PBL3/huddle/frontend/public/vite.svg
  PBL3/huddle/frontend/src/App.css
  PBL3/huddle/frontend/src/App.jsx
  PBL3/huddle/frontend/src/assets/react.svg
  PBL3/huddle/frontend/src/index.css
  PBL3/huddle/frontend/src/main.jsx
  PBL3/huddle/frontend/tailwind.config.js
  PBL3/huddle/frontend/vite.config.js
Labels: feature, GM-Huddle

#424 Loop folderstructure
  PBL3/Loop/.gitignore
  PBL3/Loop/Client/.gitignore
  PBL3/Loop/Client/README.md
  PBL3/Loop/Client/eslint.config.js
  PBL3/Loop/Client/index.html
  PBL3/Loop/Client/package.json
  PBL3/Loop/Client/postcss.config.js
  PBL3/Loop/Client/src/App.jsx
  PBL3/Loop/Client/src/components/AuthForm.jsx
  PBL3/Loop/Client/src/components/CanvasBoard.jsx
  PBL3/Loop/Client/src/components/Navbar.jsx
  PBL3/Loop/Client/src/components/RoomList.jsx
  PBL3/Loop/Client/src/context/AuthContext.jsx
  PBL3/Loop/Client/src/context/SocketContext.jsx
  PBL3/Loop/Client/src/context/ThemeContext.jsx
  PBL3/Loop/Client/src/hooks/useDarkMode.js
  PBL3/Loop/Client/src/index.css
  PBL3/Loop/Client/src/main.jsx
  PBL3/Loop/Client/src/pages/Home.jsx
  PBL3/Loop/Client/src/pages/Login.jsx
  PBL3/Loop/Client/src/pages/Loop.jsx
  PBL3/Loop/Client/src/pages/Room.jsx
  PBL3/Loop/Client/src/pages/Signup.jsx
  PBL3/Loop/Client/src/utils/axios.js
  PBL3/Loop/Client/src/utils/socket.js
  PBL3/Loop/Client/tailwind.config.js
  PBL3/Loop/Client/vite.config.js
  PBL3/Loop/Server/src/config/db.js
  PBL3/Loop/Server/src/controllers/authController.js
  PBL3/Loop/Server/src/controllers/loopController.js
  PBL3/Loop/Server/src/controllers/roomController.js
  PBL3/Loop/Server/src/index.js
  PBL3/Loop/Server/src/middleware/authMiddleware.js
  PBL3/Loop/Server/src/models/Loop.js
  PBL3/Loop/Server/src/models/Room.js
  PBL3/Loop/Server/src/models/User.js
  PBL3/Loop/Server/src/routes/authRoutes.js
  PBL3/Loop/Server/src/routes/loopRoutes.js
  PBL3/Loop/Server/src/routes/roomRoutes.js
  PBL3/Loop/Server/src/sockets/loopSockets.js
  PBL3/Loop/Server/src/utils/generateToken.js
Labels: documentation, feature, Loop-la

#425 416 dataflow
  PBL3/huddle/backend/.gitignore
  PBL3/huddle/backend/config/db.js
  PBL3/huddle/backend/controllers/authController.js
  PBL3/huddle/backend/controllers/controller.js
  PBL3/huddle/backend/index.js
  PBL3/huddle/backend/models/User.js
  PBL3/huddle/backend/models/model.txt
  PBL3/huddle/backend/package.json
  PBL3/huddle/backend/routes/route.js
Labels: GM-Huddle

#421 ERD completed using mermaid
  PBL3/Loop/docs/Entity Relationship Diagram.md
Labels: documentation

#426 Login Form
  PBL3/Echo/Frontend/docs/requirements.md
  PBL3/Echo/Frontend/eslint.config.js
  PBL3/Echo/Frontend/package.json
  PBL3/Echo/Frontend/postcss.config.js
  PBL3/Echo/Frontend/src/App.jsx
  PBL3/Echo/Frontend/src/Pages/LoginPage.jsx
  PBL3/Echo/Frontend/src/index.css
  PBL3/Echo/Frontend/src/main.jsx
  PBL3/Echo/Frontend/tailwind.config.js
Labels: echo-bs

#432 feat: Database connected Sucessfully
  PBL3/Loop/Server/.gitignore
  PBL3/Loop/Server/package.json
  PBL3/Loop/Server/src/app.js
Labels: bug, documentation, feature, Loop-la

#437 Feat: Loop Basic Data Model Completed
  PBL3/Loop/Server/nodejs_project_flashcards.md
  PBL3/Loop/Server/package.json
  PBL3/Loop/Server/src/config/db.js
  PBL3/Loop/Server/src/models/Loop.js
  PBL3/Loop/Server/src/models/Room.js
  PBL3/Loop/Server/src/models/User.js
Labels: documentation, feature, Authentication, Loop-la

#445 441 home
  PBL3/huddle/frontend/index.html
  PBL3/huddle/frontend/package.json
  PBL3/huddle/frontend/public/shambaad.png
  PBL3/huddle/frontend/public/vite.svg
  PBL3/huddle/frontend/src/App.jsx
  PBL3/huddle/frontend/src/pages/Home.jsx
  PBL3/huddle/frontend/src/pages/Login.jsx
  PBL3/huddle/frontend/src/pages/Register.jsx
  PBL3/huddle/frontend/tailwind.config.js
Labels: GM-Huddle

#447 login signup page created
  PBL3/glimpse/frontend/index.html
  PBL3/glimpse/frontend/package.json
  PBL3/glimpse/frontend/postcss.config.js
  PBL3/glimpse/frontend/src/App.jsx
  PBL3/glimpse/frontend/src/AuthContext.jsx
  PBL3/glimpse/frontend/src/Layout.jsx
  PBL3/glimpse/frontend/src/ProtectedRoute.jsx
  PBL3/glimpse/frontend/src/ThemeContext.jsx
  PBL3/glimpse/frontend/src/components/Navbar.jsx
  PBL3/glimpse/frontend/src/main.jsx
  PBL3/glimpse/frontend/src/pages/Aboutus.jsx
  PBL3/glimpse/frontend/src/pages/Dashboard.jsx
  PBL3/glimpse/frontend/src/pages/Homepage.jsx
  PBL3/glimpse/frontend/src/pages/Login.jsx
  PBL3/glimpse/frontend/src/pages/Signup.jsx
  PBL3/glimpse/frontend/tailwind.config.js
Labels: glimpse

#453 create-poll feature completed
  PBL3/Spindle/.vscode/settings.json
  PBL3/Spindle/backend/controllers/createPoll.js
  PBL3/Spindle/backend/models/poll.js
  PBL3/Spindle/backend/routes/pollRouter.js
  PBL3/Spindle/backend/server.js
  PBL3/Spindle/frontend/package.json
  PBL3/Spindle/frontend/src/App.jsx
  PBL3/Spindle/frontend/src/components/CreatePoll.jsx
  PBL3/Spindle/frontend/src/components/MyPolls.jsx
  PBL3/Spindle/frontend/src/components/PollResult.jsx
Labels: spindle-ab

#462 aiIntegration-createPoll done
  PBL3/Spindle/backend/controllers/controller.js
  PBL3/Spindle/backend/controllers/createPoll.js
  PBL3/Spindle/backend/models/poll.js
  PBL3/Spindle/backend/models/user.js
  PBL3/Spindle/backend/routes/userRouter.js
  PBL3/Spindle/frontend/src/components/CreatePoll.jsx
  PBL3/Spindle/frontend/src/components/MyPolls.jsx
  PBL3/Spindle/frontend/src/pages/Dashboard.jsx
  PBL3/Spindle/frontend/src/pages/LogIn.jsx
Labels: spindle-ab

#469 feat: append the caption feat along with recording
  PBL3/Echo/Backend/controllers/clipController.js
  PBL3/Echo/Backend/models/Clip.js
  PBL3/Echo/Backend/uploads/1757913916241.webm
  PBL3/Echo/Backend/uploads/1757991470587.webm
  PBL3/Echo/Backend/uploads/1758000830760.webm
  PBL3/Echo/Backend/uploads/1758000959894.webm
  PBL3/Echo/Backend/uploads/1758001352230.webm
  PBL3/Echo/Backend/uploads/1758002298694.webm
  PBL3/Echo/Backend/uploads/1758002569670.webm
  PBL3/Echo/Backend/uploads/1758002642743.webm
  PBL3/Echo/Backend/uploads/1758002855597.webm
  PBL3/Echo/Backend/uploads/1758002893350.webm
  PBL3/Echo/Backend/uploads/1758002929311.webm
  PBL3/Echo/Backend/uploads/1758003234509.webm
  PBL3/Echo/Backend/uploads/1758003584214.webm
  PBL3/Echo/Backend/uploads/1758003633564.webm
  PBL3/Echo/Frontend/src/Components/Addconfession.jsx
  PBL3/Echo/Frontend/src/Components/Feed.jsx
  PBL3/Echo/Frontend/src/Components/Modal.jsx
  PBL3/Echo/Frontend/src/Components/Recorder.jsx
  PBL3/Echo/Frontend/src/Pages/HomePage.jsx
  PBL3/Echo/Frontend/src/api/clipApi.js
Labels: echo-bs

#420 Career Compass
  .gitignore
  PBL2/ResumeOptimizer/Backend/Extractor/extractor.js
  PBL2/ResumeOptimizer/Backend/controllers/users.js
  PBL2/ResumeOptimizer/Backend/middleware/auth.js
  PBL2/ResumeOptimizer/Backend/models/Resume.js
  PBL2/ResumeOptimizer/Backend/models/User.js
  PBL2/ResumeOptimizer/Backend/package.json
  PBL2/ResumeOptimizer/Backend/routes/resumeRoutes.js
  PBL2/ResumeOptimizer/Backend/routes/users.js
  PBL2/ResumeOptimizer/Backend/server.js
  PBL2/ResumeOptimizer/Frontend/.gitignore
  PBL2/ResumeOptimizer/Frontend/README.md
  PBL2/ResumeOptimizer/Frontend/eslint.config.js
  PBL2/ResumeOptimizer/Frontend/index.html
  PBL2/ResumeOptimizer/Frontend/package.json
  PBL2/ResumeOptimizer/Frontend/postcss.config.js
  PBL2/ResumeOptimizer/Frontend/public/Logo.png
  PBL2/ResumeOptimizer/Frontend/src/App.jsx
  PBL2/ResumeOptimizer/Frontend/src/Pages/Home.jsx
  PBL2/ResumeOptimizer/Frontend/src/Pages/JobMatch.jsx
  PBL2/ResumeOptimizer/Frontend/src/Pages/LandingPage.jsx
  PBL2/ResumeOptimizer/Frontend/src/Pages/MyResume.jsx
  PBL2/ResumeOptimizer/Frontend/src/Pages/Preview.jsx
  PBL2/ResumeOptimizer/Frontend/src/assets/bg.png
  PBL2/ResumeOptimizer/Frontend/src/assets/bg1.png
  PBL2/ResumeOptimizer/Frontend/src/components/ProtectedRoute.jsx
  PBL2/ResumeOptimizer/Frontend/src/components/loginsignup/LoginSignup.jsx
  PBL2/ResumeOptimizer/Frontend/src/index.css
  PBL2/ResumeOptimizer/Frontend/src/main.jsx
  PBL2/ResumeOptimizer/Frontend/src/utils.js
  PBL2/ResumeOptimizer/Frontend/src/utils/axios.js
  PBL2/ResumeOptimizer/Frontend/tailwind.config.js
  PBL2/ResumeOptimizer/Frontend/vite.config.js
  PBL2/ResumeOptimizer/Readme.md
  PBL2/ResumeOptimizer/docs/Issues.md
  PBL2/ResumeOptimizer/docs/Userstories.md
  PBL2/ResumeOptimizer/docs/requirements.md
Labels: bug, documentation, enhancement, feature, Resumeopt-la, Authentication

#471 Audio Recording both frontend and backend is done and synchronized.
  PBL3/huddle/.prettierrc
  PBL3/huddle/backend/controllers/voiceNoteController.js
  PBL3/huddle/backend/index.js
  PBL3/huddle/backend/middleware/auth.js
  PBL3/huddle/backend/middleware/upload.js
  PBL3/huddle/backend/models/VoiceNote.js
  PBL3/huddle/backend/package.json
  PBL3/huddle/backend/routes/voiceNoteRoutes.js
  PBL3/huddle/backend/utils/azureStorage.js
  PBL3/huddle/frontend/src/App.jsx
  PBL3/huddle/frontend/src/api/voiceNotes.js
  PBL3/huddle/frontend/src/pages/Home.jsx
  PBL3/huddle/frontend/src/pages/MyNote.jsx
  PBL3/huddle/frontend/src/pages/RecordNote.jsx
Labels: GM-Huddle

#475 feat:new chat (improvised) integrated
  PBL3/huddle/.gitignore
  PBL3/huddle/backend/controllers/chatController.js
  PBL3/huddle/backend/controllers/friendController.js
  PBL3/huddle/backend/index.js
  PBL3/huddle/backend/models/Chat.js
  PBL3/huddle/backend/models/Friend.js
  PBL3/huddle/backend/models/Message.js
  PBL3/huddle/backend/routes/chatRoutes.js
  PBL3/huddle/backend/routes/friendRoutes.js
  PBL3/huddle/frontend/.gitignore
  PBL3/huddle/frontend/src/App.jsx
  PBL3/huddle/frontend/src/api/chat.js
  PBL3/huddle/frontend/src/api/friends.js
  PBL3/huddle/frontend/src/components/ChatWindow.jsx
  PBL3/huddle/frontend/src/pages/Chat.jsx
  PBL3/huddle/frontend/src/pages/Home.jsx
Labels: feature, GM-Huddle

#477 Product logo is finalized and added to the code
  PBL3/huddle/frontend/index.html
  PBL3/huddle/frontend/src/assets/logo.svg
  PBL3/huddle/frontend/src/pages/Home.jsx
Labels: GM-Huddle

#483 feat: user connections setup
  PBL3/ripple/backend/services/contactService.js
  PBL3/ripple/frontend/src/App.jsx
  PBL3/ripple/frontend/src/components/PersonCard.jsx
  PBL3/ripple/frontend/src/pages/Explore.jsx
Labels: Ripple

#491 feat: About us page added
  PBL3/ripple/frontend/public/growth.png
  PBL3/ripple/frontend/public/immediate.png
  PBL3/ripple/frontend/public/tap.png
  PBL3/ripple/frontend/public/tap2.png
  PBL3/ripple/frontend/public/users.png
  PBL3/ripple/frontend/public/wave.png
  PBL3/ripple/frontend/src/App.jsx
  PBL3/ripple/frontend/src/components/Navbar.jsx
  PBL3/ripple/frontend/src/pages/Aboutus.jsx
  PBL3/ripple/frontend/src/pages/Activitylog.jsx
Labels: Ripple

#498 feat: add custom alert and fixes some bugs
  PBL3/Echo/Backend/app.js
  PBL3/Echo/Backend/uploads/1758356070434.webm
  PBL3/Echo/Backend/uploads/1758358831471.webm
  PBL3/Echo/Backend/uploads/1758359033108.webm
  PBL3/Echo/Backend/uploads/1758359229127.webm
  PBL3/Echo/Backend/uploads/1758359333222.webm
  PBL3/Echo/Backend/uploads/1758448350776.webm
  PBL3/Echo/Backend/uploads/1758448427694.webm
  PBL3/Echo/Backend/uploads/1758448550304.webm
  PBL3/Echo/Backend/uploads/1758464548871.webm
  PBL3/Echo/Backend/uploads/1758465261419.webm
  PBL3/Echo/Backend/uploads/1758468103632.webm
  PBL3/Echo/Backend/uploads/1758471348658.webm
  PBL3/Echo/Frontend/index.html
  PBL3/Echo/Frontend/src/Components/AlertModal.jsx
  PBL3/Echo/Frontend/src/Components/ConfirmModal.jsx
  PBL3/Echo/Frontend/src/Components/Feed.jsx
  PBL3/Echo/Frontend/src/Components/Recorder.jsx
  PBL3/Echo/Frontend/src/Components/useAlert.jsx
  PBL3/Echo/Frontend/src/Components/useConfirm.jsx
  PBL3/Echo/Frontend/src/Pages/LandingPage.jsx
  PBL3/Echo/Frontend/src/Pages/LoginPage.jsx
  PBL3/Echo/Frontend/src/features/rooms/RoomChatPage.jsx
  PBL3/Echo/Frontend/src/features/rooms/RoomsPage.jsx
Labels: echo-bs
