Repository TEJ-Fellowship/pbl, pull requests merged in 2025-08, with the labels that each got.

#185 quiz page
  PBL1/SparkMind/SparkMind_UI/styleguides.md
  PBL1/SparkMind/index.html
  PBL1/SparkMind/src/index.css
  PBL1/SparkMind/src/pages/Quizpage/Quiz.css
  PBL1/SparkMind/src/pages/Quizpage/Quiz.jsx
Labels: sparkmind-sa

#192 fixed the UI for quiz page
  PBL1/SparkMind/src/pages/Quizpage/Quiz.css
  PBL1/SparkMind/src/pages/Quizpage/Quiz.jsx
  PBL1/SparkMind/src/pages/Quizpage/Quiz_timer.jsx
Labels: enhancement, feature, sparkmind-sa

#198 Question options
  PBL1/SparkMind/src/pages/Quizpage/Quiz.jsx
  PBL1/SparkMind/src/pages/Quizpage/questions.json
  PBL1/SparkMind/src/pages/resultpage/Result.jsx
Labels: sparkmind-sa

#203 completed home page layout design
  PBL1/NourishNow/src/App.jsx
  PBL1/NourishNow/src/Components/Home-page/Category.css
  PBL1/NourishNow/src/Components/Home-page/Category.jsx
  PBL1/NourishNow/src/Components/Home-page/HomePage.jsx
  PBL1/NourishNow/src/Components/Home-page/category-images/desserts-item.jpg
  PBL1/NourishNow/src/Components/Home-page/category-images/easyandfast.jpg
  PBL1/NourishNow/src/Components/Home-page/category-images/healthy-food.jpg
  PBL1/NourishNow/src/Components/Home-page/category-images/italian-food.jpg
  PBL1/NourishNow/src/Components/Home-page/category-images/mexican-food.jpg
  PBL1/NourishNow/src/Components/Home-page/category-images/vegeterian-food.jpg
  PBL1/NourishNow/src/Components/Home-page/homePage.css
  PBL1/NourishNow/src/Components/Home-page/pexels-pixabay-372882.jpg
  PBL1/NourishNow/src/Components/Navbar/Navbar.jsx
  PBL1/NourishNow/src/index.css
Labels: nourish-bijay-lokesh

#211 feat: added router functionality
  PBL1/NourishNow/src/App.jsx
  PBL1/NourishNow/src/Components/Navbar/Navbar.jsx
Labels: nourish-bijay-lokesh

#221 goalform-completed
  PBL1/AimEz/src/App.css
  PBL1/AimEz/src/Dashboard.css
  PBL1/AimEz/src/Navbar.jsx
  PBL1/AimEz/src/card.css
  PBL1/AimEz/src/components/Card.jsx
  PBL1/AimEz/src/components/Dashboard.jsx
  PBL1/AimEz/src/components/Goal.jsx
  PBL1/AimEz/src/components/GoalForm.jsx
  PBL1/AimEz/src/components/Home.jsx
  PBL1/AimEz/src/home.css
  PBL1/AimEz/src/images/image copy.png
  PBL1/AimEz/src/images/image.png
  PBL1/AimEz/src/navbar.css
Labels: aimEZ-ab

#224 223 feat search functionality
  PBL1/Spendly-Project/frontend/src/App.jsx
  PBL1/Spendly-Project/frontend/src/assets/react.svg
  PBL1/Spendly-Project/frontend/src/components/Navbar/Navbar.jsx
  PBL1/Spendly-Project/frontend/src/features/Transaction/TransactionList.jsx
Labels: spendly-am

#228 feat: country code is added in the nav bar
  PBL1/Eventia-Project/eventia/package.json
  PBL1/Eventia-Project/eventia/src/components/Navbar.jsx
  PBL1/Eventia-Project/eventia/src/css/Navbar.css
Labels: feature, eventia-anu-mahesh

#240 feat: perform curd operations in bookmark
  PBL1/NourishNow/src/App.jsx
  PBL1/NourishNow/src/Components/Favorite/Favorite.css
  PBL1/NourishNow/src/Components/Favorite/Favorite.jsx
  PBL1/NourishNow/src/Components/Navbar/Navbar.jsx
Labels: nourish-bijay-lokesh

#246 feat: local storage && AI integration
  PBL1/NourishNow/package.json
  PBL1/NourishNow/src/Components/Explore/Category.jsx
  PBL1/NourishNow/src/Components/Explore/Category.module.css
  PBL1/NourishNow/src/Components/Explore/Explore.module.css
  PBL1/NourishNow/src/Components/Favorite/Favorite.css
  PBL1/NourishNow/src/Components/Favorite/Favorite.jsx
  PBL1/NourishNow/src/Components/Favorite/Favorite.module.css
  PBL1/NourishNow/src/Components/Home-page/HomePage.module.css
  PBL1/NourishNow/src/Components/Navbar/Navbar.jsx
  PBL1/NourishNow/src/Components/Navbar/Navbar.module.css
  PBL1/NourishNow/src/Components/Preview-card/AiCards/Alternatives/Alternatives.jsx
  PBL1/NourishNow/src/Components/Preview-card/AiCards/Alternatives/AlternativesCard.module.css
  PBL1/NourishNow/src/Components/Preview-card/PreviewCard.jsx
  PBL1/NourishNow/src/Components/Preview-card/PreviewCard.module.css
  PBL1/NourishNow/src/Components/Recipe-form-page/Recipeformpage.jsx
  PBL1/NourishNow/src/Components/Recipe-form-page/Recipeformpage.module.css
  PBL1/NourishNow/src/gemini.js
  PBL1/NourishNow/src/index.css
Labels: bug, nourish-bijay-lokesh

#255 Ai
  PBL1/NourishNow/package.json
  PBL1/NourishNow/src/Components/Favorite/Favorite.jsx
  PBL1/NourishNow/src/Components/Preview-card/PreviewCard.jsx
  PBL1/NourishNow/src/Components/Recipe-form-page/Recipeformpage.jsx
  PBL1/NourishNow/src/gemini.js
Labels: bug, documentation, nourish-bijay-lokesh

#258 feat: integrrated gemini API to generete chart
  PBL1/NourishNow/package.json
  PBL1/NourishNow/src/Components/Home-page/HomePage.jsx
  PBL1/NourishNow/src/Components/Home-page/HomePage.module.css
  PBL1/NourishNow/src/Components/Home-page/Left-container/LeftContainer.jsx
  PBL1/NourishNow/src/Components/Home-page/Left-container/LeftContainer.module.css
  PBL1/NourishNow/src/Components/Home-page/Right-continer/RightContainer.jsx
  PBL1/NourishNow/src/Components/Home-page/Right-continer/RightContainer.module.css
  PBL1/NourishNow/src/Components/Preview-card/AiCards/Nutrition/NutritionChart.jsx
  PBL1/NourishNow/src/Components/Preview-card/AiCards/Nutrition/NutritionChart.module.css
  PBL1/NourishNow/src/Components/Preview-card/PreviewCard.jsx
  PBL1/NourishNow/src/gemini.js
Labels: bug, documentation, feature, nourish-bijay-lokesh

#259 feat: api feature is added to the branch
  PBL1/Eventia-Project/eventia/src/components/Calendar.jsx
  PBL1/Eventia-Project/eventia/src/components/CalendarBody.jsx
  PBL1/Eventia-Project/eventia/src/components/Sidediv.jsx
  PBL1/Eventia-Project/eventia/src/css/CalendarBody.css
  PBL1/Eventia-Project/eventia/src/pages/HomePage.jsx
Labels: feature, eventia-anu-mahesh

#264 bug: fixed the css and there is remaining of gemini part and the upda…
  PBL1/Eventia-Project/eventia/api/holidayapi.js
  PBL1/Eventia-Project/eventia/src/components/CalendarBody.jsx
  PBL1/Eventia-Project/eventia/src/css/CalendarHeader.css
  PBL1/Eventia-Project/eventia/src/css/HomePage.css
  PBL1/Eventia-Project/eventia/src/css/ShowDeleteCard.css
  PBL1/Eventia-Project/eventia/src/css/ShowEventCard.css
Labels: bug, eventia-anu-mahesh

#293 feat:navbar added
  PBL2/Bipasana/memoNest/public/streakdark.png
  PBL2/Bipasana/memoNest/public/theme.png
  PBL2/Bipasana/memoNest/src/components/Navbar.jsx
Labels: mainmemo

#299 feat: started to code backend
  PBL2/ResumeOptimizer/Backend/index.js
  PBL2/ResumeOptimizer/Backend/package.json
  PBL2/ResumeOptimizer/Backend/server.js
Labels: feature, Resumeopt-la

#318 Delete feat
  .gitignore
  PBL2/ResumeOptimizer/Backend/server.js
  PBL2/ResumeOptimizer/Backend/uploads/1755677979984.docx
  PBL2/ResumeOptimizer/Backend/uploads/1755680123999.docx
  PBL2/ResumeOptimizer/Backend/uploads/1755680789358.docx
  PBL2/ResumeOptimizer/Backend/uploads/1755680818467.docx
  PBL2/ResumeOptimizer/Backend/uploads/1755753935035.docx
  PBL2/ResumeOptimizer/Backend/uploads/1755754135230.docx
  PBL2/ResumeOptimizer/Backend/uploads/1755754186081.docx
  PBL2/ResumeOptimizer/Backend/uploads/1755754348477.docx
  PBL2/ResumeOptimizer/Backend/uploads/1755754461912.docx
  PBL2/ResumeOptimizer/Frontend/src/Pages/MyResume.jsx
Labels: bug, feature, Resumeopt-la

#328 feat: added the tasks form template
  PBL2/ShramSathi/frontend/src/App.jsx
  PBL2/ShramSathi/frontend/src/assets/projectLogo.png
  PBL2/ShramSathi/frontend/src/components/DashboardLayout.jsx
  PBL2/ShramSathi/frontend/src/components/Navbar.jsx
  PBL2/ShramSathi/frontend/src/index.css
Labels: shramsathi-bb

#331 Database integrate with frontend task form
  PBL2/ShramSathi/backend/mongo.js
  PBL2/ShramSathi/frontend/src/components/Navbar.jsx
Labels: shramsathi-bb

#347 Modal is above all the component
  PBL2/ShramSathi/frontend/src/components/Dashboard.jsx
  PBL2/ShramSathi/frontend/src/components/DashboardLayout.jsx
  PBL2/ShramSathi/frontend/src/components/Navbar.jsx
Labels: shramsathi-bb

#348 Mahesh real
  PBL2/RealEstateListingnFinder/client/package.json
  PBL2/RealEstateListingnFinder/client/src/App.jsx
  PBL2/RealEstateListingnFinder/client/src/assets/Desktop - 4.png
  PBL2/RealEstateListingnFinder/client/src/assets/login.jpg
  PBL2/RealEstateListingnFinder/client/src/components/front/landing.jsx
  PBL2/RealEstateListingnFinder/client/src/pages/Auth.jsx
Labels: feature, realstate-anish/mahesh

#361 feat: synced together
  PBL2/GyanSathi/backend/.gitignore
  PBL2/GyanSathi/backend/README.md
  PBL2/GyanSathi/backend/config/db.js
  PBL2/GyanSathi/backend/controllers/controller.js
  PBL2/GyanSathi/backend/controllers/courseController.js
  PBL2/GyanSathi/backend/middleware/errorHandler.js
  PBL2/GyanSathi/backend/models/Course.js
  PBL2/GyanSathi/backend/models/Note.js
  PBL2/GyanSathi/backend/package.json
  PBL2/GyanSathi/backend/routers/router.js
  PBL2/GyanSathi/backend/routes/courseRoutes.js
  PBL2/GyanSathi/backend/server.js
  PBL2/GyanSathi/frontend/package.json
  PBL2/GyanSathi/frontend/src/App.jsx
  PBL2/GyanSathi/frontend/src/compoments/CourseCard.jsx
  PBL2/GyanSathi/frontend/src/components/Navbar.jsx
  PBL2/GyanSathi/frontend/src/main.jsx
  PBL2/GyanSathi/frontend/src/pages/Create.jsx
  PBL2/GyanSathi/frontend/src/pages/Home.jsx
  PBL2/GyanSathi/frontend/src/pages/Homepage.jsx
  PBL2/GyanSathi/frontend/src/pages/Tips.jsx
Labels: GyaanSathi, GyaanSathi-Feature

#367 feat: JobMatch feature implemented
  PBL2/ResumeOptimizer/Frontend/package.json
  PBL2/ResumeOptimizer/Frontend/src/App.jsx
  PBL2/ResumeOptimizer/Frontend/src/Pages/JobMatch.jsx
Labels: bug, feature, Resumeopt-la

#371 362 all
  PBL2/GyanSathi/frontend/package.json
  PBL2/GyanSathi/frontend/src/App.jsx
  PBL2/GyanSathi/frontend/src/compoments/CourseCard.jsx
  PBL2/GyanSathi/frontend/src/compoments/CourseForm.jsx
  PBL2/GyanSathi/frontend/src/compoments/LessonForm.jsx
  PBL2/GyanSathi/frontend/src/pages/CourseDetail.jsx
  PBL2/GyanSathi/frontend/src/pages/CourseManagement.jsx
  PBL2/GyanSathi/frontend/src/pages/Homepage.jsx
  PBL2/GyanSathi/frontend/src/pages/LessonDetail.jsx
Labels: GyaanSathi, GyaanSathi-Feature

#377 backend store user
  PBL2/ResumeOptimizer/Backend/controllers/users.js
  PBL2/ResumeOptimizer/Backend/models/User.js
  PBL2/ResumeOptimizer/Frontend/src/components/loginsignup/LoginSignup.jsx
Labels: Resumeopt-la, Authentication

#388 completed user authentication
  PBL2/ShramSathi/backend/models/user.js
  PBL2/ShramSathi/backend/package.json
  PBL2/ShramSathi/backend/server.js
  PBL2/ShramSathi/backend/server1.js
  PBL2/ShramSathi/frontend/package.json
  PBL2/ShramSathi/frontend/public/images/i1.jpg
  PBL2/ShramSathi/frontend/public/images/i2.jpg
  PBL2/ShramSathi/frontend/public/images/i3.jpg
  PBL2/ShramSathi/frontend/src/App.jsx
  PBL2/ShramSathi/frontend/src/components/DashboardLayout.jsx
  PBL2/ShramSathi/frontend/src/components/Hero.jsx
  PBL2/ShramSathi/frontend/src/components/LandingNavbar.jsx
  PBL2/ShramSathi/frontend/src/components/Navbar.jsx
  PBL2/ShramSathi/frontend/src/components/Taskform.jsx
  PBL2/ShramSathi/frontend/src/components/Test.jsx
  PBL2/ShramSathi/frontend/src/main.jsx
  PBL2/ShramSathi/frontend/src/pages/LandingPage.jsx
  PBL2/ShramSathi/frontend/src/pages/LoginPage.jsx
  PBL2/ShramSathi/frontend/src/pages/SignUpPage.jsx
  PBL2/ShramSathi/frontend/src/pages/b.jsx
Labels: shramsathi-bb

#389 Full LMS completed
  PBL2/GyanSathi/backend/config/db.js
  PBL2/GyanSathi/backend/controllers/authController.js
  PBL2/GyanSathi/backend/controllers/courseController.js
  PBL2/GyanSathi/backend/middleware/errorHandler.js
  PBL2/GyanSathi/backend/middlewares/authMiddleware.js
  PBL2/GyanSathi/backend/middlewares/roleMiddleware.js
  PBL2/GyanSathi/backend/models/Course.js
  PBL2/GyanSathi/backend/models/User.js
  PBL2/GyanSathi/backend/package.json
  PBL2/GyanSathi/backend/routes/authRoutes.js
  PBL2/GyanSathi/backend/routes/courseRoutes.js
  PBL2/GyanSathi/backend/server.js
  PBL2/GyanSathi/docs/README.md
  PBL2/GyanSathi/frontend/src/App.jsx
  PBL2/GyanSathi/frontend/src/api/api.js
  PBL2/GyanSathi/frontend/src/components/CourseCard.jsx
  PBL2/GyanSathi/frontend/src/components/CourseForm.jsx
  PBL2/GyanSathi/frontend/src/components/CourseManagement.jsx
  PBL2/GyanSathi/frontend/src/components/LessonForm.jsx
  PBL2/GyanSathi/frontend/src/components/Navbar.jsx
  PBL2/GyanSathi/frontend/src/components/ProtectedRoute.jsx
  PBL2/GyanSathi/frontend/src/context/AuthContext.jsx
  PBL2/GyanSathi/frontend/src/pages/CourseDetail.jsx
  PBL2/GyanSathi/frontend/src/pages/CourseManagement.jsx
  PBL2/GyanSathi/frontend/src/pages/Homepage.jsx
  PBL2/GyanSathi/frontend/src/pages/LessonDetail.jsx
  PBL2/GyanSathi/frontend/src/pages/Login.jsx
  PBL2/GyanSathi/frontend/src/pages/Register.jsx
Labels: feature, GyaanSathi, GyaanSathi-Feature

#398 fix: modified UI & dark mode added
  PBL2/Bipasana/backend/controllers/journals.js
  PBL2/Bipasana/backend/package.json
  PBL2/Bipasana/frontend/public/invLogo.png
  PBL2/Bipasana/frontend/public/journalCard.png
  PBL2/Bipasana/frontend/src/AuthContext.jsx
  PBL2/Bipasana/frontend/src/components/JournalCard.jsx
  PBL2/Bipasana/frontend/src/components/JournalReadCard.jsx
  PBL2/Bipasana/frontend/src/components/Journals.jsx
  PBL2/Bipasana/frontend/src/components/Navbar.jsx
  PBL2/Bipasana/frontend/src/components/SideBar.jsx
  PBL2/Bipasana/frontend/src/pages/Aboutus.jsx
  PBL2/Bipasana/frontend/src/pages/Login.jsx
  PBL2/Bipasana/frontend/src/pages/Quotes.jsx
  PBL2/Bipasana/frontend/src/pages/Signup.jsx
Labels: mainmemo, MemoNest-Features

#399 Functionality and UI finalized
  PBL2/ResumeOptimizer/Backend/Extractor/extractor.js
  PBL2/ResumeOptimizer/Backend/controllers/users.js
  PBL2/ResumeOptimizer/Backend/middleware/auth.js
  PBL2/ResumeOptimizer/Backend/models/Resume.js
  PBL2/ResumeOptimizer/Backend/models/User.js
  PBL2/ResumeOptimizer/Backend/routes/resumeRoutes.js
  PBL2/ResumeOptimizer/Backend/routes/users.js
  PBL2/ResumeOptimizer/Backend/server.js
  PBL2/ResumeOptimizer/Frontend/index.html
  PBL2/ResumeOptimizer/Frontend/package.json
  PBL2/ResumeOptimizer/Frontend/public/Logo.png
  PBL2/ResumeOptimizer/Frontend/public/vite.svg
  PBL2/ResumeOptimizer/Frontend/src/App.jsx
  PBL2/ResumeOptimizer/Frontend/src/Pages/Home.jsx
  PBL2/ResumeOptimizer/Frontend/src/Pages/JobMatch.jsx
  PBL2/ResumeOptimizer/Frontend/src/Pages/MyResume.jsx
  PBL2/ResumeOptimizer/Frontend/src/Pages/Preview.jsx
  PBL2/ResumeOptimizer/Frontend/src/components/ProtectedRoute.jsx
  PBL2/ResumeOptimizer/Frontend/src/components/loginsignup/LoginSignup.jsx
  PBL2/ResumeOptimizer/Frontend/src/utils.js
  PBL2/ResumeOptimizer/Frontend/src/utils/axios.js
Labels: bug, documentation, feature, Resumeopt-la, Authentication
