Repository TEJ-Fellowship/pbl, pull requests merged in 2025-07, with the labels that each got.

#92 Feature/task details
  neighborly-aid/backend/models/Task.js
  neighborly-aid/backend/services/authService.js
  neighborly-aid/backend/services/taskService.js
  neighborly-aid/backend/services/userService.js
  neighborly-aid/frontend/src/api/users.js
  neighborly-aid/frontend/src/components/ui/UserModal.jsx
Labels: enhancement, neighborly-aid-ss

#98 feat(category): implement category management and statistics
  neighborly-aid/backend/app.js
  neighborly-aid/backend/controllers/categoryController.js
  neighborly-aid/backend/controllers/taskController.js
  neighborly-aid/backend/models/Category.js
  neighborly-aid/backend/models/Task.js
  neighborly-aid/backend/package.json
  neighborly-aid/backend/routes/categoryRoutes.js
  neighborly-aid/backend/scripts/migrateCategories.js
  neighborly-aid/backend/scripts/seedDatabase.js
  neighborly-aid/backend/services/authService.js
  neighborly-aid/backend/services/categoryService.js
  neighborly-aid/backend/services/taskService.js
  neighborly-aid/backend/services/userService.js
  neighborly-aid/frontend/src/api/categories.js
  neighborly-aid/frontend/src/api/index.js
  neighborly-aid/frontend/src/api/tasks.js
  neighborly-aid/frontend/src/components/PostForm.jsx
  neighborly-aid/frontend/src/components/admin/CategoryManager.jsx
  neighborly-aid/frontend/src/components/features/tasks/CategoryFilter.jsx
  neighborly-aid/frontend/src/components/features/tasks/TaskCard.jsx
  neighborly-aid/frontend/src/components/forms/TaskForm/SubmitButton.jsx
  neighborly-aid/frontend/src/components/forms/TaskForm/TaskForm.jsx
  neighborly-aid/frontend/src/components/forms/TaskForm/TaskFormFields.jsx
  neighborly-aid/frontend/src/components/myNeighbourhood/AskForHelpContent.jsx
  neighborly-aid/frontend/src/components/myNeighbourhood/HelpOthersContent.jsx
  neighborly-aid/frontend/src/components/ui/UserModal.jsx
  neighborly-aid/frontend/src/hooks/index.js
  neighborly-aid/frontend/src/hooks/useCategories.js
  neighborly-aid/frontend/src/hooks/useGeminiSuggestions.js
  neighborly-aid/frontend/src/hooks/useTaskForm.js
  neighborly-aid/frontend/src/pages/MyNeighbourhood.jsx
  neighborly-aid/frontend/src/services/taskService.js
Labels: feature, neighborly-aid-ss

#129 added lokesh & bijay
  PBL1/NourishNow/src/App.jsx
Labels: nourish-bijay-lokesh

#134 ashok write h2
  PBL1/SparkMind/src/App.jsx
Labels: sparkly-sa

#135 swikar
  PBL1/SparkMind/src/App.jsx
Labels: enhancement

#156 Docs
  PBL1/NourishNow/docs/Issues.md
  PBL1/NourishNow/docs/User Stories.md
Labels: documentation, nourish-bijay-lokesh

#159 Updates redme for Nourish main
  PBL1/NourishNow/README.md
Labels: documentation, nourish-bijay-lokesh

#164 initialized tailwind css
  PBL1/NourishNow/README.md
  PBL1/NourishNow/package.json
  PBL1/NourishNow/src/App.css
  PBL1/NourishNow/src/App.jsx
  PBL1/NourishNow/src/index.css
  PBL1/NourishNow/src/main.jsx
  PBL1/NourishNow/vite.config.js
Labels: nourish-bijay-lokesh

#143 config added
  PBL1/Eventia-Project/eventia/headers/header.tsx
  PBL1/Eventia-Project/eventia/package.json
  PBL1/Eventia-Project/eventia/postcss.config.js
  PBL1/Eventia-Project/eventia/src/index.css
  PBL1/Eventia-Project/eventia/tailwind.config.js
Labels: eventia-anu-mahesh

#168 feat: add navbar
  PBL1/Spendly-Project/frontend/package.json
  PBL1/Spendly-Project/frontend/src/App.css
  PBL1/Spendly-Project/frontend/src/App.jsx
  PBL1/Spendly-Project/frontend/src/components/Navbar/Navbar.jsx
  PBL1/Spendly-Project/frontend/src/components/Navbar/Navbar.module.css
  PBL1/Spendly-Project/frontend/src/index.css
  PBL1/Spendly-Project/frontend/vite.config.js
Labels: feature, spendly-am

#184 Navbar
  PBL1/NourishNow/README.md
  PBL1/NourishNow/index.html
  PBL1/NourishNow/src/App.jsx
  PBL1/NourishNow/src/Components/Navbar/Navbar.css
  PBL1/NourishNow/src/Components/Navbar/Navbar.jsx
  PBL1/NourishNow/src/main.jsx
Labels: documentation, feature, nourish-bijay-lokesh
